* {
    margin: 0;
    padding: 0;
}

.drawer {
    margin-top: 2rem;
    margin-left: 2rem;
    width: 180px;
    height: auto;
    background-color: #2d2d2d;
    border-radius: 13px;
}

.site_name {
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 1.3rem;
    font-family: 'jura';
    font-style: italic;
    text-align: left;
}

.menu_title {
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 0.9rem;
    font-family: 'now';
}

.menu_list {
    list-style: none;
}

.menu_list li a{
    text-decoration: none;
    font-family: 'now';
    color: #ffffff;
}

 